/PostProcessingStudy/Library
/PostProcessingStudy/obj
/PostProcessingStudy/Logs
/PostProcessingStudy/.vs
/PostProcessingStudy/Assembly-CSharp.csproj
/PostProcessingStudy/.vsconfig
/PostProcessingStudy/PostProcessingStudy.sln
